langchain
langgraph
arize-phoenix
chromadb
pypdf
tiktoken
openai
streamlit
langchain_openai
dotenv
langchain-community

# tracing for arize phoenix
openinference-instrumentation-langchain


#discussion on azure and openai
