langchain
langgraph
arize-phoenix==11.30.0
chromadb
pypdf
tiktoken
openai
streamlit
langchain_openai
dotenv
langchain-community
pandas
# tracing for arize phoenix
openinference-instrumentation-langchain



#discussion on azure and openai
